<!DOCTYPE HTML>
<html>
<head>
<title>$name</title>
<script src="${webContextPathAll}/resource/html5/js/jquery.min.js"></script>
<script src="${webContextPathAll}/resource/html5/js/layer.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=0.5,maximum-scale=1,user-scalable=yes">

<style type="text/css">

.browse_class span {
	color: blue;
}
.xdTableHeader TD {
	min-height: 10px;
}
.radio_com {
	margin-right: 0px;
}
.xdTextBox {
	BORDER-BOTTOM: #dcdcdc 1pt solid;
	min-height: 20px;
	TEXT-ALIGN: left;
	BORDER-LEFT: #dcdcdc 1pt solid;
	BACKGROUND-COLOR: window;
	DISPLAY: inline-block;
	WHITE-SPACE: nowrap;
	COLOR: windowtext;
	OVERFLOW: hidden;
	BORDER-TOP: #dcdcdc 1pt solid;
	BORDER-RIGHT: #dcdcdc 1pt solid;
}
.xdRichTextBox {
	font-size: 12px;
	BORDER-BOTTOM: #dcdcdc 1pt solid;
	TEXT-ALIGN: left;
	BORDER-LEFT: #dcdcdc 1pt solid;
	BACKGROUND-COLOR: window;
	FONT-STYLE: normal;
	min-height: 20px;
	display: inline-block;
	VERTICAL-ALIGN: bottom !important;
	WORD-WRAP: break-word;
	COLOR: windowtext;
	BORDER-TOP: #dcdcdc 1pt solid;
	BORDER-RIGHT: #dcdcdc 1pt solid;
	TEXT-DECORATION: none;
}
#mainbodyDiv div,#mainbodyDiv input,#mainbodyDiv textarea,#mainbodyDiv p,#mainbodyDiv th,#mainbodyDiv td,#mainbodyDiv ul,#mainbodyDiv li{
	font-family: inherit;
}

#contentText > p :not(span){
	text-aglin:center;
}

</style>
<link href="${webContextPathAll}/monitor/css/templateCss/default.css" rel="stylesheet" type="text/css">
<link href="${webContextPathAll}/monitor/css/templateCss/default1.css" rel="stylesheet" type="text/css">
<link href="${webContextPathAll}/monitor/css/templateCss/skin.css" rel="stylesheet" type="text/css">
<link href="${webContextPathAll}/monitor/css/templateCss/fck_editorarea4Show.css" rel="stylesheet" type="text/css">
<style type="text/css">
body{    
	-moz-user-focus:   ignore;    
	-moz-user-select:   none;    
} 

ol{margin: auto;}
</style>
<script>
	$(function(){
		$('#content > p').has('img').css('text-align','center');
		$('#content > p > img').css('max-width','100%');
		
		//发布人控制
		var pubN = '${pubName}';
		if(pubN == '' || pubN == 'null'){
			$('#show1').hide();
			$('#show2').hide();
		}
	})
	function read(mBizId,type){
		var mBizId = mBizId;
		var type = type;
		layer.open({
			    	id:'layer01',
					type : 2,
					
					title : ['查看阅读信息'],
					shadeClose: false, //开启遮罩关闭
					area : [ '20%', '70%' ],
					content : "${webContextPathAll}/ReadForm.rform?mBizId="+mBizId+"&type="+type+"&iframewindowid=layer01"
				});		
	}
	function print1(){
		var obj = document.getElementById('content')
		var docStr = obj.innerHTML;
		var newWindow=window.open('打印窗口','_blank')
		newWindow.document.write(docStr)
		newWindow.print()
		newWindow.document.close();
	}
</script>

</head>
<body scroll="no" style="height:96%;">
<div class="scrollList" id="mainbodyDiv" style="display: block; visibility: visible;">
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">		
	<tbody><tr>
		<td width="100%" height="100%" align="center" class="body-bgcolor" valign="top">
			<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr height="100%">
					<td>
						<table width="100%" height="100%" align="center" class="body-detail margin-auto" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td height="60" colspan="6">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr class="page2-header-line-old">
											<td width="100%" height="60" colspan="3">
												<table width="100%" align="center" class="CollTable" border="0" cellspacing="0" cellpadding="0">
													<tbody><tr height="60" class="page2-header-line-old">
														<td width="80" height="60"><span class="bul_img"></span></td>
														<td width="380" class="page2-header-bg-old">新闻</td>
														<td align="right">&nbsp;</td>
														<td align="right" class="padding5">${readInfoLink}&nbsp;${collect}&nbsp; ${printStr}</td>
													</tr>	
												</tbody></table>
												
											</td>
											
										</tr>
									</tbody></table>
								</td>
							</tr>
							
							<tr>
								<td valign="top" colspan="6">
									<div id="printThis">
										<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
										    <tbody><tr>
												 <td height="30" colspan="6">
												 <table width="100%" border="0" cellspacing="0" cellpadding="0">
													 <tbody><tr>
													 	<td width="35">&nbsp;</td>
														<td width="90%" align="center" class="view-bulletin-title">${name}</td>
													  	<td width="35">&nbsp;</td>
													  </tr>
												 </tbody></table>
												 </td>
											</tr>
							
											<tr>
												<td class="padding35" id="paddId" colspan="6">
													
														
														
															<table width="100%" height="100%" cellspacing="0" cellpadding="0">
																<tbody><tr>
																	<td width="5%" align="" class="font-12px" nowrap="nowrap">新闻发布时间：&nbsp;&nbsp;</td>
																	<td width="20%" class="font-12px">${time}</td>
																	<td id='show11' width="5%" align="center" class="font-12px" nowrap="nowrap">发布部门：&nbsp;&nbsp;</td>
																	<td id='show22' width="20%" class="font-12px">${pubDep}</td>
																	<td id='show1' width="5%" align="center" class="font-12px" nowrap="nowrap">发布人：&nbsp;&nbsp;</td>
																	<td id='show2' width="20%" class="font-12px">${pubName}</td>
																	<td width="5%" align="center" class="font-12px" nowrap="nowrap">点击数：&nbsp;&nbsp;</td>
													                <td width="20%" class="font-12px">${counts}</td>
																</tr>
																
																<tr class="padding_t_5" id="show0">
																    <td align="" class="font-12px" nowrap="nowrap">关键字:&nbsp;&nbsp;</td>
																	<td class="font-12px">${keyWord}</td>
															 	</tr>
															 	
															 	<tr class="padding_t_5" id="show1">
																	<td align="" class="font-12px" nowrap="nowrap">摘要:&nbsp;&nbsp;</td>
																    <td class="font-12px">${abstract}</td>
																</tr>
																
																<tr><td>&nbsp;</td></tr>
															</tbody></table>
														
																									
												</td>
											</tr>
		
											<tr>
												<td width="100%" height="100%" id="contentTD" valign="top" style="padding-bottom: 6px;" colspan="6">
										          	<div style="height: 100%;">
										            	<div style="display: none;"><input name="bodyType" id="bodyType" type="hidden" value="HTML"></div>
<div id="htmlContentDiv" style="margin: 0 15%;">
<table align="center" class="body-detail-HTML" id="col-contentTable" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
     <td class="padding355"><div id="inputPosition" style="width: 0px; height: 0px;"></div>
	 <div id="iSignatureHtmlDiv" style="border: 0px currentColor; border-image: none; width: 1px; height: 1px;" name="iSignatureHtmlDiv"><object width="0" height="0" id="SignatureControl" classid="clsid:D85C89BE-263C-472D-9B6B-5264CD85B36E" viewastext=""><param name="ServiceUrl" value="http://219.238.178.101:8000/seeyon/isignaturehtmlservlet"><param name="AutoSave" value="False"><param name="MenuDeleteSign" value="false"><param name="MenuMoveSetting" value="false"><param name="MenuDocLocked" value="false"></object></div>
	 <div class="contentText" id="content" style="text-aglin:center;">
	 	$content
	 </div></td>
  <tr>
</tr></tbody></table>
</div>
<script type="text/javascript">
var webRoot = "";//
</script>

										            </div>
										            <style>
                                                    .contentText p{
                                                        font-size:16px;
                                                    }
                                                    </style>
                                                    <!-- 
                                                    
										            
													 -->
												</td>
											</tr>
							
												
						
											<tr id="attachmentTr" style="">
											  <td height="30" class="paddingLR" colspan="6">
											   <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
													<tbody><tr>
													<label style="width:100%;height:100%;" width="100%" height="100%" ><b>附件：</b></label>
														<td height="10" valign="" colspan="6" >
															<hr size="1" class="newsBorder" >
															
														</td>
														
													</tr>
												
												</tbody></table>
											  </td>
											</tr>
											<tr>
												<td height="30" class="paddingLR" valign="top" colspan="6">
													${file}
												</td>
											</tr>
											<tr id="attachment2Tr" style="">
											  <td height="30" class="paddingLR" colspan="6">
											   <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
													<tbody><tr>
														<td height="10" valign="" colspan="6">
															<hr size="1" class="newsBorder">
														</td>
													</tr>
												</tbody></table>
											  </td>
											</tr>
										</tbody></table>
										
									</div>
								</td>
							</tr>
						</tbody></table> 
					</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>
</body></html>