@CHARSET "UTF-8";

/*hr,用在菜单项的分隔符。其他地方用到hr 另外定义样式*/
hr {
	height: 1px;
	border: none;
	border-top: 1px solid #f5f5f5;
}

/*列表中查询表单的最外层表格*/
.queryform_wrap_table_psi{
	border: 1px solid #b5b5b5;
	background-color: white;
	width:99%;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	margin-left: auto;
	margin-right: auto;
}

.pad_layout,
.queryform_pad_layout,
.list_pad_layout{
	width:100%;
	height:100%;
	background-color:#f8f8f8;	
}
.queryform_pad_layout{
	padding-top: 20px;
}

.list_pad_layout{
	padding-top: 20px;
}

.queryform_label_psi,
.queryform_label_last_psi {
	border-width: 0px;
	text-align: right;
	padding-right: 12px;
	padding-top:12px;
	color: #777777;
	height: 35px;
}

.queryform_input_psi,
.queryform_input_last_psi{
	padding-top:12px;
}

.queryform_label_last_psi {
	height: 34px;
	padding-top:10px;
	padding-bottom: 12px;
}

.queryform_input_last_psi{
	height: 34px;
	padding-top:10px;
	padding-bottom: 10px;
}

.queryform_button_last_psi {
	padding-bottom: 10px;
	padding-left:19px;
	text-align: left;
}

.quickPrompt{
	padding: 5px 5px 5px 5px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.listMenuBody,
.listMenuMain,
.listMenuMainRTL {
	padding-top: 6px;
	padding-bottom:8px;
	margin: -6px 44px 0;
	text-align: left;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.listMenu,
.listMenuSelected,
.listMenuOver,
.listMenuSelectedOver,
.listMenuDisabled,
.listMenuTitleField,
.listMenuTitleFieldDark,
.listMenuTitleFieldSelected,
.listMenuTitleFieldSelectedDark,
.listMenuTitleFieldOver,
.listMenuTitleFieldOverDark,
.listMenuTitleFieldSelectedOver,
.listMenuTitleFieldSelectedOverDark,
.listMenuTitleFieldDisabled,
.listMenuIconField,
.listMenuIconFieldOver,
.listMenuIconFieldSelected,
.listMenuIconFieldSelectedOver,
.listMenuIconFieldDisabled{
	font-size: 12px;
	padding:3px 10px 3px 15px;
	color: #428bca;
}

.listMenuOver,
.listMenuOverDark,
.listMenuSelectedOver,
.listMenuSelectedOverDark,
.listMenuTitleFieldOver,
.listMenuTitleFieldOverDark,
.listMenuTitleFieldSelectedOver,
.listMenuTitleFieldSelectedOverDark,
.listMenuIconFieldOver,
.listMenuIconFieldOverDark,
.listMenuIconFieldSelectedOver,
.listMenuIconFieldSelectedOverDark{
	background-color: #f8f8f8;
	cursor: pointer;
}

.menuSeparator{
	padding-left: 0px;
	padding-right: 0px;
}

/*listMenuButton*/
.listMenuButton,
.listMenuButtonOver,
.listMenuButtonDown,
.listMenuButtonDisabled,
.listMenuButtonFocused,
.listMenuButtonFocusedDown,
.listMenuButtonFocusedOver,
.listMenuButtonSelected,
.listMenuButtonSelectedDown,
.listMenuButtonSelectedOver,
.listMenuButtonSelectedDisabled {
	font-family: "Microsoft YaHei";
	border-radius: 6px;
	font-size: 12px;
	border: 1px solid #357ebd;
	padding-left: 4px;
	padding-right: 4px;
  	color:#357ebd;
  	background-color: #fff;
	
  	
}

.listMenuButtonDown,
.listMenuButtonFocusedDown,
.listMenuButtonFocusedOver,
.listMenuButtonSelected,
.listMenuButtonSelectedDown,
.listMenuButtonSelectedOver {
	background-color: #f5f5f5;
	color: #428bca;
}

/*快速查询申请号输入框*/
.inspnoTextItem,
.inspnoTextItemFocused{
	font-size:20px;
}

/*填写和查看表单中的分割线*/
.formSeparator{
	height: 1px;
	border: none;
	border-top: 1px dashed #f5f5f5;
}


/*表单分类标签项*/
.label_title_psi {
	font-size: 18px;
}

/*表单标签项*/
.label_psi {
	color: #777;
}

/*表单的单元格边框*/
.form_wrap_table_psi {
	border: 1px solid #dddddd;
	background-color: white;
	width: 95%;
	margin-top: 95px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3%;
	padding-right: 3%;
}

.form_tr_title_psi {
	height: 50px;
}

.form_td_title_psi {
	padding-top: 10px;
	border-bottom: 1px dashed #f5f5f5;
}

.form_tr_psi {
	height: 30px;
}

.form_td_psi
.form_td_first_psi {
	border: none;
}

.form_td_first_psi {
	padding-top: 23px;
}

.form_tr_separetor_psi {
	height: 40px;
}

/*form 表单固定头的div的样式*/
.form_pin_wrap_psi {
	width: 98%;
	position: absolute;
	z-index: 300000;
	height: 90px;
	background-color: #f8f8f8;
}

.form_pin_left_psi {
	float: left;
	width: 1%;
}

.form_pin_left_top_psi {
	height: 33px;
	width: 100%;
}

.form_pin_left_bottom_psi {
	height: 24px;
	width: 100%;
	background-color: #01c5ff;
}

.form_pin_right_top_psi {
	padding-top: 22px;
	height: 34px;
	float: left;
	width: 40%;
	border-bottom: 1px solid #01c5ff;
}

.form_pin_right_font_psi {
	font-weight: bolder;
	font-size: 22px;
	padding-left: 20px;
}

.form_pin_bottom_psi {
	float: left;
	width: 70%;
	height: 29px;
	padding-left: 3%;
	padding-top: 3px;
	color: #777;
}

.form_pin_top_border_psi {
	float: left;
	width: 50%;
	height: 56px;
	border-bottom: 1px solid #01c5ff;
}

/*包裹只读数据项的黑框*/
.form_td_content_wrap_psi {
	background-color: #f5f5f5;
	width: 95%;
	height: 25px;
	padding-top: 8px;
	padding-left: 15px;
}

/*表单内部的button*/
.inFormButton,
.inFormButtonOver,
.inFormButtonFocused,
.inFormButtonFocusedOver,
.inFormButtonDown,
.inFormButtonFocusedDown,
.inFormButtonSelected,
.inFormButtonSelectedFocused,
.inFormButtonSelectedDown,
.inFormButtonSelectedFocusedDown,
.inFormButtonSelectedOver,
.inFormButtonSelectedFocusedOver,
.inFormButtonDisabled,
.inFormButtonSelectedDisabled{
	background-color: #428bca;
	color: white;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle; *
	vertical-align: auto;
	zoom: 1; *
	display: inline;
	border-color: #357ebd;
	border-width: 1px;
	border-style: solid;
	height: 21px;
	line-height: 21px;
	padding: 0px 10px 0px 10px;
	font-weight: 300;
	font-size: 12px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
}

.inFormButtonDisabled,
.inFormButtonSelectedDisabled {
	background: #1495b7;
	color: #005065;
}

.inFormButtonFocused,
.inFormButtonFocusedOver,
.inFormButtonSelectedFocused,
.inFormButtonSelectedFocusedOver,
.inFormButtonSelectedFocusedDown{
	border: 1px solid #ababab;
}

.inFormButtonOver,
.inFormButtonFocusedOver,
.inFormButtonSelectedFocused,
.inFormButtonSelectedFocusedOver {
	background-size: 100%;
	background-color: #3071a9;
	border: 1px solid #285e8e;
}

.inFormButtonDown,
.inFormButtonFocusedDown,
.inFormButtonSelectedDown,
.inFormButtonSelectedFocusedDown {
	background-color: #3071a9;
	border: 1px solid #285e8e;
}

/*表单内置表格的删除按钮样式*/
.delCell,
.delCellDark,
.delCellOver,
.delCellOverDark,
.delCellSelected,
.delCellSelectedOver,
.delCellSelectedDark {
	text-decoration: none;
	cursor: pointer;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #EDEDED;
}

.delCellDark {
	background-color: #fafafa;
}

.delCellOver,
.delCellOverDark,
.delCellSelected,
.delCellSelectedOver,
.delCellSelectedDark,
.delCellSelectedOverDark {
	background-color: #cff2da;
}

/*不醒目按钮的样式，比如取消，回退*/
.buttonUnimportant,
.buttonUnimportantOver,
.buttonUnimportantFocused,
.buttonUnimportantFocusedOver,
.buttonUnimportantDown,
.buttonUnimportantFocusedDown,
.buttonUnimportantSelected,
.buttonUnimportantSelectedFocused,
.buttonUnimportantSelectedDown,
.buttonUnimportantSelectedFocusedDown,
.buttonUnimportantSelectedOver,
.buttonUnimportantSelectedFocusedOver,
.buttonUnimportantDisabled,
.buttonUnimportantSelectedDisabled {
	color: #666666;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle; *
	vertical-align: auto;
	zoom: 1; *
	display: inline;
	background-size: 100%;
	background-color: white;
	border: 1px solid #d4d4d4;
	height: 30px;
	line-height: 30px;
	padding: 0px 23.6px;
	font-weight: 300;
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.buttonUnimportantDisabled,
.buttonUnimportantSelectedDisabled {
	background: #1495b7;
	color: #005065;
}

.buttonUnimportantFocused,
.buttonUnimportantFocusedOver,
.buttonUnimportantSelectedFocused,
.buttonUnimportantSelectedFocusedOver,
.buttonUnimportantSelectedFocusedDown {
	background: #EEE;
	border: 1px solid #dddddd;
	color: #CCC;
	cursor: default;
}

.buttonUnimportantOver,
.buttonUnimportantFocusedOver,
.buttonUnimportantSelectedFocused,
.buttonUnimportantSelectedFocusedOver {
	background-color: #eeeeee;
}

.buttonUnimportantDown,
.buttonUnimportantFocusedDown,
.buttonUnimportantSelectedDown,
.buttonUnimportantSelectedFocusedDown {
	background: #eeeeee;
	color: #bbbbbb;
}

/*出错关闭按钮样式*/
.buttonError,
.buttonErrorOver,
.buttonErrorFocused,
.buttonErrorFocusedOver,
.buttonErrorDown,
.buttonErrorFocusedDown,
.buttonErrorSelected,
.buttonErrorSelectedFocused,
.buttonErrorSelectedDown,
.buttonErrorSelectedFocusedDown,
.buttonErrorSelectedOver,
.buttonErrorSelectedFocusedOver,
.buttonErrorDisabled,
.buttonErrorSelectedDisabled{
	color: #fff;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle; *
	vertical-align: auto;
	zoom: 1; *
	display: inline;
	background-size: 100%;
	background-color: #d9534f;
	border-color: #d43f3a;
	border: 1px solid;
	height: 30px;
	line-height: 30px;
	padding: 0px 23.6px;
	font-weight: 300;
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.buttonErrorDisabled,
.buttonErrorSelectedDisabled {
	background: #c9302c;
	border: 1px solid #ac2925;
	color: #fff;
}

.buttonErrorFocused,
.buttonErrorFocusedOver,
.buttonErrorSelectedFocused,
.buttonErrorSelectedFocusedOver,
.buttonErrorSelectedFocusedDown{
	background: #c9302c;
	border: 1px solid #ac2925;
	color: #fff;
	cursor: default;
}

.buttonErrorOver,
.buttonErrorFocusedOver,
.buttonErrorSelectedFocused,
.buttonErrorSelectedFocusedOver {
	background-color: #c9302c;
	border: 1px solid #ac2925;
}

.buttonErrorDown,
.buttonErrorFocusedDown,
.buttonErrorSelectedDown,
.buttonErrorSelectedFocusedDown{
	background-color: #c9302c;
	border: 1px solid #ac2925;
}

/*列表中快速搜索按钮，左边蓝色按钮*/
.buttonSearchLeft,
.buttonSearchLeftOver,
.buttonSearchLeftFocused,
.buttonSearchLeftFocusedOver,
.buttonSearchLeftDown,
.buttonSearchLeftFocusedDown,
.buttonSearchLeftSelected,
.buttonSearchLeftSelectedFocused,
.buttonSearchLeftSelectedDown,
.buttonSearchLeftSelectedFocusedDown,
.buttonSearchLeftSelectedOver,
.buttonSearchLeftSelectedFocusedOver,
.buttonSearchLeftDisabled,
.buttonSearchLeftSelectedDisabled{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle; *
	vertical-align: auto;
	zoom: 1; *
	display: inline;
	background-size: 100%;
	height: 32px;
	line-height: 32px;
	padding: 0px 22.6px;
	font-weight: 300;
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-align: center;
	color: #fff;
	background-color: #5bc0de;
	border: 1px solid #46b8da;
}

.buttonSearchLeftOver,
.buttonSearchLeftFocusedOver,
.buttonSearchLeftSelectedFocused,
.buttonSearchLeftSelectedFocusedOver,
.buttonSearchLeftFocused,
.buttonSearchLeftFocusedOver,
.buttonSearchLeftSelectedFocused,
.buttonSearchLeftSelectedFocusedOver{
	background-color: #31b0d5;
	border: 1px solid #269abc;
}

.buttonSearchLeftDown,
.buttonSearchLeftFocusedDown,
.buttonSearchLeftSelectedDown,
.buttonSearchLeftSelectedFocusedDown,
.buttonSearchLeftSelectedFocusedDown{
	background-color: #31b0d5;
	border: 1px solid #269abc;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
/*列表中快速搜索按钮，右边白色按钮*/
.buttonSearchRight,
.buttonSearchRightOver,
.buttonSearchRightFocused,
.buttonSearchRightFocusedOver,
.buttonSearchRightDown,
.buttonSearchRightFocusedDown,
.buttonSearchRightSelected,
.buttonSearchRightSelectedFocused,
.buttonSearchRightSelectedDown,
.buttonSearchRightSelectedFocusedDown,
.buttonSearchRightSelectedOver,
.buttonSearchRightSelectedFocusedOver,
.buttonSearchRightDisabled,
.buttonSearchRightSelectedDisabled {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle; *
	vertical-align: auto;
	zoom: 1; *
	display: inline;
	background-size: 100%;
	height: 32px;
	line-height: 32px;
	padding: 0px 22.6px;
	font-weight: 300;
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-align: center;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-ms-border-top-right-radius: 3px;
	-ms-border-bottom-right-radius: 3px;
	-o-border-top-right-radius: 3px;
	-o-border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: black;
	background-color: #fff;
	border: 1px solid #dddddd;
	border-left: none;
}

.buttonSearchRightOver,
.buttonSearchRightFocusedOver,
.buttonSearchRightSelectedFocused,
.buttonSearchRightSelectedFocusedOver,
.buttonSearchRightFocused,
.buttonSearchRightFocusedOver,
.buttonSearchRightSelectedFocused,
.buttonSearchRightSelectedFocusedOver{
	background-color: #e6e6e6;;
	border-color:#adadad;
}

.buttonSearchRightDown,
.buttonSearchRightFocusedDown,
.buttonSearchRightSelectedDown,
.buttonSearchRightSelectedFocusedDown,
.buttonSearchRightSelectedFocusedDown{
	background-color: #e6e6e6;
	border-color:#adadad;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.message_block_psi {
	max-height: 500px;
	overflow: auto;
	width: 560px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	display: block;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	margin-left:auto;
	margin-right: auto;
}
.message_wrap_layout{
	width:100%;
	height:100%;
	background-color: #f8f8f8;
	padding-top:120px;
}
.message_header_psi {
	padding: 15px;
	padding-left: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-size: 21px;
	font-weight: 500;
}

.message_body_psi {
	padding-top: 30px;
	background-color: #f6f9fc;
}

.message_footer_psi {
	padding: 10px 15px 15px;
	height: 37px;
	text-align: right;
	background-color: #f6f9fc;
	margin-bottom: 0;
}

.message_first_line {
	font-size: 16px;
	padding-left: 30px;
}

.message_second_line {
	padding-top: 20px;
	padding-left: 30px;
	font-size: 16px;
	padding-bottom: 30px;
}

/*paginator rewrite begin*/
a {
	color: #00659C;
}

a:hover {
	color: red;
}

.paginator {
	margin-right: 5px;
	height: 20px;
	font-size:12px;
}

.paginator span {
	float: left;
	display: block;
	color:#777777;
	font-size: 18px;
	background-color:#fff;
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.paginatorTd{
  	background-image: url(images/ToolStrip/background.png);
}

.paginator a {
	color: #428bca;
	text-decoration: none;
}

.paginator a:HOVER {
	color: #428bca;
}

.paginator_status {
	padding-left: 10px;
	margin-top: 16px;
	font-size: 18px;
	float:left;
	margin-left:30px;
}

.paginator_number_area a {
	text-decoration: none;
	color: #428bca;
}
.paginator_number_area a:HOVER {
	color: #428bca;
}

.pagenumber_text,.pagenumber_link {
	position: relative;
	float: left;
	padding-left: 18px;
	padding-right: 12px;
	padding-top:10px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	width:18px;
	height:34px;
	margin-top: 2px;
	font-size: 18px;
}

.pagenumber_link {
	color: #ffffff;
}

.pagenumber_text {
	color: #428bca;
}

.paginator_first,
.paginator_last,
.paginator_previous,
.paginator_next {
	position: relative;
	float: left;
	padding-top: 10px;
	padding-bottom:13px;
	padding-left: 18px;
	padding-right:12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 17px;
	height: 21px;
	margin-top: 2.2px;
	font-size: 18px;
	color: #2a6496;	
}

.paginator_last {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}

.paginator_first {
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}
/*paginator rewrite end*/

/*作废申请和恢复申请查询页*/
.inpsapply_valid_wrap{
	width: 590px;
	margin-left:auto;
	margin-right:auto;
	margin-top:120px;
}
	
.inpsapply_valid_label{
	font-size:16px;
	font-weight: bolder;
}
	
.inpsapply_valid_p{
	font-size:15px;
	color: red;
}