<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>普通视图首页</title>
<script>
//获取当前项目的绝对路径
function getPathRoot(){
	 var pathName = window.location.pathname.substring(1);
	 var webName = pathName == '' ? '' : pathName.substring(0, pathName.indexOf('/'));
	 var path_root = window.location.protocol + '//' + window.location.host + '/'+ webName + '/';
	 return path_root;
}
var webpath = getPathRoot();
document.write('<base href="'+webpath+'"/>');
document.write('<script src="resource/html5/js/vue.js"><\/script>');
document.write('<script src="resource/html5/js/axios.min.js"><\/script>');

document.write('<script src="resource/html5/js/jquery.min.js"><\/script>');
document.write('<script src="resource/html5/css/bootstrap/dist/js/bootstrap.min.js"><\/script>');
document.write('<script src="form/admin/main/js/jquery.metisMenu.js"><\/script>');
document.write('<script src="resource/html5/js/layer.min.js"><\/script>');
document.write('<script src="resource/js/office.js"><\/script>');
document.write('<script src="resource/html5/js/matrix_runtime.js"><\/script>');
document.write('<script src="form/html5/admin/logon/js/index.js"><\/script>');

document.write('<link href="resource/html5/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>');
document.write('<link href="resource/html5/css/font-awesome.min.css" rel="stylesheet"></link>');
document.write('<link href="form/admin/main/css/style.min.css" rel="stylesheet"></link>');
document.write('<link href="resource/css/reset.css" rel="stylesheet" type="text/css"></link>');
document.write('<link href="resource/css/style.css" rel="stylesheet" type="text/css"></link>');
document.write('<link href="form/html5/admin/logon/css/index.css" rel="stylesheet" type="text/css"></link>');
</script>
<script>
	function getCurrentSkin(){
		var defaultSkin = 'primary';
		$.ajax({
			url : webpath + 'home/home_getCurrentSkin.action',
			type : "post",
			dataType : "json",
			async: false, // 同步
			success : function(data) {
				if(data){
					defaultSkin = data.skin;
				}			
			}
		});
		return defaultSkin;
	}
	var currentSkin = getCurrentSkin();
	
	debugger;
	var head= document.getElementsByTagName('head')[0];
	var link= document.createElement('link');			    		 
	link.href= 'resource/html5/css/skin/mCustom_'+currentSkin+'.css';
	link.rel= 'stylesheet';
	head.appendChild(link);
</script>
<style>
 #message:hover {
	background: url(resource/images/index_message_hover.png)
		no-repeat;
 }

#message {
	width: 42px;
	height: 41px;
	position: absolute;
	right: 15px;
	bottom: 40px;
	background: url(resource/images/index_message.png)
		no-repeat;
	z-index: 200;
	cursor: pointer;
	-moz-border-top-left-radius: 1000px;
	-khtml-border-top-left-radius: 1000px;
	-webkit-border-top-left-radius: 1000px;
	border-top-left-radius: 1000px;
}

.msg_remind {
	width: 11px;
	height: 11px;
	background: url(resource/images/msg_remindIco.png)
		no-repeat;
	display: inline-block;
	position: absolute;
	top: 6px;
	left: 30px;
}

.pop_msg_top_sm {
	width: 80px;
	height: 80px;
	background:
		url("resource/images/message_close.png");
	border-radius: 50px;
	-moz-border-radius: 50px;
	position: absolute;
	right: -40px;
	top: -40px;
	cursor: pointer;
}
.msg_ca_8{
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url(resource/images/icon24.png)
		no-repeat;
	background-position: -96px -192px;
}
.msg_ico_1 {
	width: 26px;
	height: 18px;
	background: url(resource/images/msg_sm_1.png);
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
}
.msg_ico_2 {
	width: 26px;
	height: 18px;
	background: url(resource/images/msg_sm_2.png);
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
}

.msg_ico_1 {
	width: 26px;
	height: 18px;
	background: url(resource/images/msg_sm_1.png);
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
}
</style>
</head>
<body class="fixed-sidebar full-height-layout pace-done" style="overflow: hidden; background-color: #fff;" onload="initLoadFunc()">
	<div id="app" v-cloak>
		<input v-show="false" id="operation" name="operation"/> <!-- 操作标志  noLogOut非注销   changeSkin更换皮肤  changeApp切记应用 -->
		<!--头部-->
		<div class="shouye-title">
			<div class="logo">
				<img :src="logoPng">
			</div>
			<div class="topMenuContr" @click="showHide">
				<div class="img-place">
					<img :src="menuPng" width="16px" height="16px">
			    </div>
			</div>
			<div class="dropdown down-place" :style="{display: dropMenu}">
				<button class="btn btn-primary dropdown-toggle btn-bgcolor" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					普通视图 <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">							
					<li :style="{display: designer}"><a @click="changeView('designer')">设计开发</a></li>
					<li :style="{display: admin}"><a @click="changeView('admin')">管理实施</a></li>
				</ul>
			</div>
			<div id="controlType" class="btn-group gateway" role="group">
				<button id="personcontent" type="button" class="btn btn-primary btn-bgcolor select-bgColor" @click="changePortlet('person')">个人空间</button>
				<div id="depcontent" type="button" class="btn-group" role="group">
					<button type="button" class="btn btn-primary dropdown-toggle btn-bgcolor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						部门空间 <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" v-if="portalItems!==undefined && portalItems.length>0">					
						<li v-for="(portalItem,index) in portalItems" :key="index">
							<a @click="changePortlet('dep',portalItem.uuid)">{{ portalItem.title }}</a>
						</li>
					</ul>
				</div>
				<button id="companycontent" type="button" class="btn btn-primary btn-bgcolor" @click="changePortlet('company')">公司空间</button>
			</div>
			<div class="shouye-title-right">
				<h2>
					<img :src="userPng"><span>欢迎您: {{ userName }}</span>
				</h2>
				<div class="right0">
					<a @click="logoff"><img :src="gridPng"></a>
				</div>
			</div>
		</div>
		<!--框架-->		
		<div class="shouye-frame">
			<div class="left-menu" :style="navStyleObj" ref="control">
				<!--左侧导航开始--> 
				<nav class="navbar-default navbar-static-side" role="navigation" id="navigation">
					<ul class="nav" id="side-menu">
						<li v-for="(menuItem,index) in menuItems" :key="index">
							<a class="menu-title">
								<img class="menu-img" :src="getImgUrl(menuItem.sIconUrl)" >
								<span class="menu-name">{{ menuItem.functionName }}</span>
								<span class="fa arrow"></span>
							</a>							
							<ul class="nav nav-second-level collapse" v-if="menuItem.children!==undefined && menuItem.children.length>0">
								<li v-for="(firstChildItem,firstIndex) in menuItem.children" :key="firstIndex">
									<a @click="setContent(firstChildItem.functionValue)">
										<img :src="arrowPng" class="arrow-img">{{ firstChildItem.functionName }}
									</a>
									<ul class="nav nav-third-level collapse" v-if="firstChildItem.children!==undefined && firstChildItem.children.length>0">
										<li v-for="(secondChildItem,secondIndex) in firstChildItem.children" :key="secondIndex">
											<a @click="setContent(secondChildItem.functionValue)">
												<img :src="arrowPng" class="arrow-img">{{ secondChildItem.functionName }}
											</a>
											<ul class="nav nav-fourth-level collapse" v-if="secondChildItem.children!==undefined && secondChildItem.children.length>0">
												<li v-for="(thirdChildItem,thirdIndex) in secondChildItem.children" :key="thirdIndex">
													<a @click="setContent(thirdChildItem.functionValue)" :style="fourthMenuSpace">
														<img :src="arrowPng" class="arrow-img">{{ thirdChildItem.functionName }}
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</nav> 
				<!--左侧导航结束-->
			</div>
			<div class="right-container" :style="{width: rightWidth}">
				<iframe id="J_iframe" name="J_iframe" :src="webpath+'portal/portalAction_previewPersionOfficePortal.action'" style='height:100%;width:100%;border-width: 0px;' frameborder="0" ref="iframe"></iframe>
			</div>
		</div>
		<div id="message" class="ui-draggable"
			style="z-index: 2000; display: block;" onclick="refreshInfo();">
			<span class="msg_remind" id="msgremind" style="display: none;"></span>
		</div>
		<div class="pop_msg bottom_msg" id="bottom_msg" style="display: block;"></div>
	</div
</body>
<script type="text/javascript">
	//用于储存协同事项window刷新
	var childWindow;

	var vm = new Vue({
		el: '#app',
		data: {
			dropMenu: 'none',
			designer: 'none',
			admin: 'none',
			userName: '',
			menuItems: [],
			portalItems: [],
			navStyleObj: {
				width: '',
				display: ''
			},
			rightWidth: '',
			webpath: '',
			logoPng: '',
			userPng: '',
			gridPng: '',
			menuPng: '',
			arrowPng: '',
			fourthMenuSpace:{
				paddingLeft: '72px'
			}
		},
		methods: {
			logoff() {   //注销
				logoff();    //index.js中调用
			},
			changeView(viewType) {  //切换视图
				changeView(viewType);  //index.js中调用
			},
			getJsonData(){    //获得页面初始JSON数据
				var _self = this;
				var webpath = _self.webpath;			
				axios.get(webpath + 'home/home_loadMenuNavigation.action',{
					params: {
						logonMode: 'user'
					}
				})
			      .then(function (res) {
			    	  debugger;
			    	  if(res.data){			    	
			    		  _self.userName = res.data.userName;  //当前登录人
			    		  _self.menuItems = res.data.menuInfo;  //菜单信息
			    		  _self.portalItems = res.data.portalInfo;  //部门门户信息
			    		  console.log(res.data);
	    		  
			    		  var isDesigner = res.data.isDesigner;
			    		  var isAdmin = res.data.isAdmin;
			    		  var isMainApp = res.data.isMainApp;
			    		  var isTenantEnable = res.data.isTenantEnable;
			    		  
			    		  var isChrome = false;
					      var userAgent = navigator.userAgent.toLowerCase();  //取得浏览器的userAgent字符串   
					      if ((userAgent.indexOf('mozilla') == 0 && 
					          userAgent.indexOf('applewebkit') > 0 && 
					          userAgent.indexOf("edge") == -1 && 
					          userAgent.toLowerCase().indexOf("chrome/") > 0) 
					            || userAgent.indexOf("mac")>0){
					    	   isChrome = true;      //是谷歌内核的浏览器
					      }
						   
					      if(isChrome){					    	
							  var flag = false;
							  if(isDesigner){
								  _self.designer = '';	
							      flag = true;
							  }
							  if(isAdmin){
								  _self.admin = '';
								  flag = true;
							  }
							  if(flag){    //是管理员或者设计开发人员
								  _self.dropMenu = '';
							  }
					      }
			    		  
			    		  _self.$nextTick(function(){   //异步时对DOM操作需要用到
			  				  $('#side-menu').metisMenu(); //初始化jquery-MetisMenu菜单插件
			  			  })
			    	  }		    	 
			      })
			      .catch(function (error) { // 请求失败处理
			          console.log(error);
			      });
			},
			getImgUrl(iconUrl){
				if(iconUrl == '' || iconUrl == null){
					iconUrl = "form/admin/main/mmenu.png";
				}
				if(iconUrl.startsWith('/')){
					iconUrl = iconUrl.substring(iconUrl.indexOf('/')+1);
				}
				return this.webpath + iconUrl;
			},
			showHide(){   //展开收缩
				var width = this.$refs.control.offsetWidth;
				if(width == '220'){
					this.navStyleObj.display = 'none';
					this.navStyleObj.width = '0px';
					this.rightWidth = '100%';
				}else{	
					this.rightWidth = 'calc(100% - 220px)';					
					this.navStyleObj.width = '220px';
					this.navStyleObj.display = '';				
				}
			},
			changePortlet(id,portalId){
				if(id=='dep'){
					$('#personcontent').removeClass("select-bgColor");
					$('#depcontent .btn').addClass("select-bgColor");
					$('#companycontent').removeClass("select-bgColor");
					this.$refs.iframe.src = this.webpath+"portal/portalAction_previewOfficePortal.action?portalId="+portalId+"&isDep=true";
				}else if(id=='company'){
					$('#personcontent').removeClass("select-bgColor");
					$('#depcontent .btn').removeClass("select-bgColor");
					$('#companycontent').addClass("select-bgColor");
					this.$refs.iframe.src = this.webpath+"portal/portalAction_previewOfficePortal.action?portalId=402881895846def101584792cc4e001d";
				}else if(id=='person'){
					$('#personcontent').addClass("select-bgColor");
					$('#depcontent .btn').removeClass("select-bgColor");
					$('#companycontent').removeClass("select-bgColor");
					this.$refs.iframe.src = this.webpath+"portal/portalAction_previewPersionOfficePortal.action";
				}
			},
			setContent(url){  //点击菜单链接流转
				debugger;		
				if(url.indexOf("javascript")>=0){
					var p = url.split(":");
					eval(p[1]);
				}else{
					if(url == '' || url == null){
						url = "empty.jsp";
					}
					if(url.startsWith('/')){
						url = url.substring(url.indexOf('/')+1);
					}
					this.$refs.iframe.src = this.webpath + url;
			 	}
			}
		},
		computed: { 

		},
		watch: {
			menuItems: function(){
				
			}
		},
		created() {
			this.webpath = webpath;
			this.logoPng = this.webpath + 'resource/images/logo.png';
			this.userPng = this.webpath + 'resource/images/user.png';
			this.gridPng = this.webpath + 'resource/images/grid.png';
			this.menuPng = this.webpath + 'form/admin/main/menu_14.png';
			this.arrowPng = this.webpath + 'resource/images/right-arrow.png';
			
			this.getJsonData();
		},
		mounted(){  //页面加载完成后执行访问后端的函数
			
		}
	})
	
	/*************************************js代码部分********************************************/
	function showhul(obj){
		var nodes=obj.getElementsByTagName("div");
		obj.style.backgroundColor='rgb(252, 240, 193)';
		for(var i=0;i<nodes.length;i++){
		if(nodes[i].className=='msg_ico_1'){
		nodes[i].style.display="block";
		break;
		}
		}
		}
			function hidehul(obj){
		var nodes=obj.getElementsByTagName("div");
		obj.style.backgroundColor='#FFFFFF';
		for(var i=0;i<nodes.length;i++){
		if(nodes[i].className=='msg_ico_1'){
		nodes[i].style.display="none";
		break;
		}
		}
		}
		//显示忽略小图标滑过样式
		function showhul2(obj,event){
		 if (event) //停止事件冒泡
	     event.stopPropagation();
	    else
	     window.event.cancelBubble = true;
	     var nextobj = obj.nextSibling;
	     nextobj.style.display = "block";
	     obj.style.display = "none";
		}
		//隐藏忽略小图标划过样式
		function hidehul2(obj,event){
		 if (event) //停止事件冒泡
	     event.stopPropagation();
	    else
	     window.event.cancelBubble = true;
	     var preobj = obj.previousSibling;
	     preobj.style.display = "block";
	     obj.style.display = "none";
		}

		//初始
		function initLoadFunc(){
			//初始默认加载个人空间(设置底色)
			//document.getElementById('personcontent').style.background  = "#7abee1";
			//消息
			refreshMessage();
		}
		function updateMessageState(messageId){
			if(messageId!=null && messageId.length>0){
					// 更新状态
					var updateStatusUrl = webpath+"foundation/message_updateMessageStatus.action?messageId="+messageId;
					Matrix.sendRequest(updateStatusUrl,null,function(){});
				}
		}
		function allReaded(){
		var updateStatusUrl = webpath+"foundation/message_updateAllReaded.action";
					Matrix.sendRequest(updateStatusUrl,null,function(){
						document.getElementById("bottom_msg").style.display="none";
						document.getElementById('msgremind').style.display="none";
						});
		}
		//function newColl(){
	//sysType  1 系统类型 2 应用类型  协同中发起的全部选择应用类型
	//var forwardUrl ="<%=request.getContextPath()%>/CreateSynProcess.rform?type=3&sysType=2&fromportal=1"; 
	//var title = "新建事项";
	//openCtpWindow({'url':forwardUrl,'title':title});

	//}
	function newColl(){
		var plateId = "402881895690ce5e015691bc164000c3";
		var isInitLoad = 0;
		var newData={};
		newData["plateId"] = plateId;
	
		var url = webpath+'portal/portalAction_getDefaultPlateAction.action?matrix_send_request=true';
		Matrix.sendRequest(url,newData,function(data){
		   if(data!=null&&data.data!=null){
			  if("error1"==data.data){
				 Matrix.warn("该模板的所在的流程版本未发布或者不存在！");
				 return false;
			   }
		       var returnObj = isc.JSON.decode(data.data);
		       var formId = returnObj.formId;
		       var pdid = returnObj.pdid;
		       var adid = returnObj.adid;
		       var authId = returnObj.authId;
		  	   var forwardUrl = webpath+"CreateSynProcess.rform?mHtml5Flag=true&formId="+formId+"&isInitLoad="+isInitLoad+"&mBizId="+plateId+"&pdid="+pdid+"&type=3&sysType=2&fromportal=1&adid="+adid+"&authId="+authId;
			   openCtpWindow({'url':forwardUrl,'title':'新建事项'});
		   }
		});
	}
		function forwardFrame(tree, node, recordNum){
		
			if(node.href!=null && node.href.trim().length>0){
		
				var src = node.href;
			    src = handTreeNodeHref(node,src);
				Matrix.getMatrixComponentById("ContentTarget").setContentsURL(src);
				}
			
		}
		var setTime;
		var setUndisPlay;
		function selectClose(){
			var checked = document.getElementById("checkbox").checked;
			if(checked){
				clearTimeout(setUndisPlay);
				clearTimeout(setTime);
				closeDiv();
			}else{
				closeDiv();
			}
		}
		
		function readClickContent(messageId,urlValue){
			debugger;
			if(urlValue!=null && urlValue.length>0){
				if(urlValue.indexOf("FlowFrame")>=0){
					try{
						var tindex = urlValue.indexOf("taskId=");
						var mindex = urlValue.indexOf("&mBizId");
						var value = urlValue.substring(tindex+7,mindex);
						var getStatusUrl = webpath+"foundation/message_getByTaskId.action?taskId="+value;
						Matrix.sendRequest(getStatusUrl,null,function(data){
						if(data!=null&&data.data!="")
						if(data.data==1){
							urlValue = webpath+urlValue+"&mHtml5Flag=true";
							openCtpWindow({'url':urlValue,'title':'消息内容'});
						}if(data.data==2){
							Matrix.warn("该任务正在被别人处理！");
							return false;
						}if(data.data==3){
							Matrix.warn("该任务已被处理！");
							return false;
						}if(data.data==4){
								Matrix.warn("该任务已被别人处理！");
						return false;
						}if(data.data==5){
								Matrix.warn("该任务不存在！");
						return false;
						}
						});
					}catch(error){
					Matrix.warn("该任务不存在！");
					return false;
					}
				}else if(urlValue.indexOf("readMessage=true")>=0){
					var iWidth=550;                          //弹出窗口的宽度; 
		           var iHeight=450;                         //弹出窗口的高度; 
		           //获得窗口的垂直位置 
		           var iTop = (window.screen.availHeight - 30 - iHeight) / 2; 
		           //获得窗口的水平位置 
		           var iLeft = (window.screen.availWidth - 10 - iWidth) / 2; 
				   urlValue = webpath+urlValue+"&messageId="+messageId;
				   openCtpWindow({'url':urlValue,'title':'消息内容','top':iTop,'left':iLeft,'width':iWidth,'height':iHeight});
				}
				else{
				    urlValue = webpath+urlValue;
					openCtpWindow({'url':urlValue,'title':'消息内容'});
				}
				
				//	if(messageId!=null && messageId.length>0){
						// 更新状态
					//	var updateStatusUrl = "<%=request.getContextPath()%>/foundation/message_updateMessageStatus.action?messageId="+messageId;
					//	Matrix.sendRequest(updateStatusUrl,null,function(){});
					//}
					closeDiv();
			}			
		}
			//删除元素
		function deleteElement(obj){
	     var node = document.getElementById(obj);
	     node.parentNode.removeChild(node);
	     }
		function updateReadById(messageId){
		 if (event) //停止事件冒泡
	     event.stopPropagation();
	    else
	     window.event.cancelBubble = true;
		var messageDiv = "sysMsgDiv"+messageId;
		deleteElement(messageDiv);
		var sysMsgTotalCount1 = document.getElementById('sysMsgTotalCount1').innerHTML;
		document.getElementById('sysMsgTotalCount1').innerHTML = parseInt(sysMsgTotalCount1)-1;
		updateMessageState(messageId);
		
		}
		function updateIsRemind(){
			var mhtmlHeight = window.screen.availHeight;//获得窗口的垂直位置;
			var mhtmlWidth = window.screen.availWidth; //获得窗口的水平位置; 
			var iTop = 0; //获得窗口的垂直位置;
			var iLeft = 0; //获得窗口的水平位置;
			document.getElementById("bottom_msg").style.display="none";
			var src=webpath+"foundation/message_listMessage.action";
			openCtpWindow({'url':src,'title':'消息列表'});
		}
		function closeDiv(){
			document.getElementById("bottom_msg").style.display="none";
		}

		function refreshMessage(){
		
			var url1 = webpath+'foundation/message_queryUnreadCount.action';
			Matrix.sendRequest(url1,null,
				function(data){
				  		var unReadMsgNum =  data.data;
				  		if(unReadMsgNum>0){
	       				document.getElementById('msgremind').style.display="block";
	       				}
				  	});
			var url = webpath+'foundation/message_queryUnreadMessage.action';
			Matrix.sendRequest(url,null,
				function(data){
				  	var result = data.data;
				  	if(result && result.length>0){
		       			var json =isc.JSON.decode(result).result;
		       			var arr = json.split(',');
		       			
	       				var unRemindMsgNum = parseInt(arr[0]);
	       				var subjectNameArr = [];
	       				var messageIdArr = [];
	       				var urlValueArr=[];
	       				var userNameArr = [];
	       				var createDateArr = [];
	       				for(var i=1;i<arr.length;i++){
	       					subjectNameArr.push(arr[i].split(';')[0]);
	       					messageIdArr.push(arr[i].split(';')[1]);
	       					urlValueArr.push(arr[i].split(";")[2]);
	       					userNameArr.push(arr[i].split(";")[3]);
	       					createDateArr.push(arr[i].split(";")[4]);
	       				}
	       					var style="  <div class=\"pop_msg_top\">";
	       					
		  style+="<span class=\"pop_top_title systemMsg margin_l_5\">";
		  style+="系统消息（<label id=\"sysMsgTotalCount1\">"+unRemindMsgNum+"</label>）</span>";
		 style+=" <div class=\"pop_msg_top_sm\" onclick=\"document.getElementById('bottom_msg').style.display='none';\"><span></span>";
		 style+=" </div>";
		  style+="<div class=\"msg_pop_titlecurrent\" style=\"\">◆</div>";
		  style+="</div>";
		    style+="<div id=\"msg_system_box\" class=\"msg_system_box\">";
		    style+="<div class=\"msg_main_box\">";
	       				
	       					for(var i=0;i<subjectNameArr.length;i++){
	       						var name = subjectNameArr[i];
//	       						if(name.length>30){
//	       							name=name.substring(0,30)+"……";
//	       						}
	       						var curUserName = userNameArr[i];
	       						var createTime = createDateArr[i];
	       						
	       						
	       						style+="  <div id=\"sysMsgDiv"+messageIdArr[i]+"\" class=\"msg_remove\" msgcategory=\"8\" userhistorymessageid=\""+messageIdArr[i]+"\" onmouseover=\"showhul(this);\" onmouseout=\"hidehul(this);\">";
			 if(urlValueArr[i]==''||urlValueArr[i]==null||urlValueArr[i]=='null'){
		 style+="<div class=\"msg_system_box_main\" style=\"cursor: default; background: rgb(255, 255, 255);\" onmouseover=\"this.style.backgroundColor='rgb(252, 240, 193)'\" onmouseout=\"this.style.backgroundColor='#FFFFFF'\" onclick=\"updateMessageState('"+messageIdArr[i]+"');\">";
		
		}else{
		  
		   style+="<div class=\"msg_system_box_main\" style=\"cursor: default; background: rgb(255, 255, 255);\" onmouseover=\"this.style.backgroundColor='rgb(252, 240, 193)'\" onmouseout=\"this.style.backgroundColor='#FFFFFF'\"  onclick=\"updateMessageState('"+messageIdArr[i]+"');readClickContent('"+messageIdArr[i]+"','"+urlValueArr[i]+"')\">";
		}
		 style+=" <div class=\"left msg_ca_8\"></div>";
		 style+=" <div class=\"msg_system_main_right\">";
		  style+="<div class=\"msg_system_main_right_main\">"+name;
		 style+=" <div class=\"msg_ico_1\" onmouseover=\"showhul2(this,event);\"></div>";
		 style+="<div title=\"忽略\" class=\"msg_ico_2\" style=\"cursor: pointer;\" onmouseout=\"hidehul2(this,event);\" onclick=\"updateReadById('"+messageIdArr[i]+"');\"></div>";
		  style+="</div>";
		  style+="<div class=\"msg_system_main_right_info\">";
		   style+="<div title="+curUserName+" class=\"left\">";
		  if(curUserName != null && curUserName != undefined && curUserName != "null"){
		  	style += curUserName;
		  }
		  style+="</div>";
		  if(createTime == undefined || createTime == null){
			  createTime = "";
		  }
		 style+=" <div class=\"msg_date right\">"+createTime+"</div>";
		 style+=" </div></div><div class=\"clear\"></div></div>";
		  if(i<subjectNameArr.length-1&&subjectNameArr.length>2)
		 style+="<div class=\"msg_line\"></div>";
		 else
		  style+="<div></div>";
	       				  style+=" </div>";	
	       					
	       					}
	       						
		    style+="</div>";
		    style+="</div>";
	  style+="<div class=\"msg_setting\">";
	  style+="<div class=\"msg_setting_font msg_setting_ignore\" onclick=\"allReaded();\">忽略全部</div>";
	  style+="<div class=\"msg_setting_font msg_setting_look\" onclick=\"updateIsRemind();\">查看全部</div></div>";
		   style+="</div></div>";
		  document.getElementById("bottom_msg").innerHTML=style;
	       				
	       					document.getElementById("bottom_msg").style.display="block";
	       					 document.getElementById('bottom_msg').style.opacity=1;
	       					 //有未读未提醒消息时，执行淡出方法
	       					 setUndisPlay = setTimeout('fadeOut()',10000);
	       					 val=100;//执行完一次fadeOut后，还原val值
	      if(unRemindMsgNum==0){
	       				document.getElementById('msgremind').style.display="none";
	       				}
	       				
	       			 }
	       			 
	       			
				},
				function(){
				  	
				}
			);
		}
		function refreshInfo(){
		var url = webpath+'foundation/message_queryUnreadMessage.action';
			Matrix.sendRequest(url,null,
				function(data){
				  	var result = data.data;
				  	if(result && result.length>0){
		       			var json =isc.JSON.decode(result).result;
		       			var arr = json.split(',');
	       				var unReadMsgNum = parseInt(arr[0]);
	       			
	       				var subjectNameArr = [];
	       				var messageIdArr = [];
	       				var urlValueArr=[];
	       				var userNameArr = [];
	       				var createDateArr = [];
	       				for(var i=1;i<arr.length;i++){
	       					subjectNameArr.push(arr[i].split(';')[0]);
	       					messageIdArr.push(arr[i].split(';')[1]);
	       					urlValueArr.push(arr[i].split(";")[2]);
	       					userNameArr.push(arr[i].split(";")[3]);
	       					createDateArr.push(arr[i].split(";")[4]);
	       				}
	       				//document.getElementById("messageNum").style.height=(120+unReadMsgNum*15)+"px";
	       			
	       				//if(unReadMsgNum>0){
	       					document.getElementById('msgremind').style.display="block";
	       					 document.getElementById('bottom_msg').style.opacity=1;
	       					//head
	       					var style="  <div class=\"pop_msg_top\">";
	       					
		  style+="<span class=\"pop_top_title systemMsg margin_l_5\">";
		  style+="系统消息（<label id=\"sysMsgTotalCount1\">"+unReadMsgNum+"</label>）</span>";
		 style+=" <div class=\"pop_msg_top_sm\" onclick=\"document.getElementById('bottom_msg').style.display='none';\"><span></span>";
		 style+=" </div>";
		  style+="<div class=\"msg_pop_titlecurrent\" style=\"\">◆</div>";
		  style+="</div>";
		    style+="<div id=\"msg_system_box\" class=\"msg_system_box\">";
		    style+="<div class=\"msg_main_box\">";
	       				
	       					for(var i=0;i<subjectNameArr.length;i++){
	       						var name = subjectNameArr[i];
//	       						if(name.length>30){
//	       							name=name.substring(0,30)+"……";
//	       						}
	       						var curUserName = userNameArr[i];
	       						var createTime = createDateArr[i];
	       						
	       						
	       						style+="  <div id=\"sysMsgDiv"+messageIdArr[i]+"\" class=\"msg_remove\" msgcategory=\"8\" userhistorymessageid=\""+messageIdArr[i]+"\" onmouseover=\"showhul(this);\" onmouseout=\"hidehul(this);\">";
		 if(urlValueArr[i]==''||urlValueArr[i]==null||urlValueArr[i]=='null'){
		 style+="<div class=\"msg_system_box_main\" style=\"cursor: default; background: rgb(255, 255, 255);\" onmouseover=\"this.style.backgroundColor='rgb(252, 240, 193)'\" onmouseout=\"this.style.backgroundColor='#FFFFFF'\" onclick=\"updateMessageState('"+messageIdArr[i]+"');\">";
		
		}else{
		  
		   style+="<div class=\"msg_system_box_main\" style=\"cursor: default; background: rgb(255, 255, 255);\" onmouseover=\"this.style.backgroundColor='rgb(252, 240, 193)'\" onmouseout=\"this.style.backgroundColor='#FFFFFF'\"  onclick=\"updateMessageState('"+messageIdArr[i]+"');readClickContent('"+messageIdArr[i]+"','"+urlValueArr[i]+"')\">";
		}
		 style+=" <div class=\"left msg_ca_8\"></div>";
		 style+=" <div class=\"msg_system_main_right\">";
		  style+="<div class=\"msg_system_main_right_main\">"+name;
		   style+=" <div class=\"msg_ico_1\" onmouseover=\"showhul2(this,event);\" ></div>";
		 style+="<div title=\"忽略\" class=\"msg_ico_2\" style=\"cursor: pointer;\" onmouseout=\"hidehul2(this,event);\" onclick=\"updateReadById('"+messageIdArr[i]+"');\"></div>";
		
		  style+="</div>";
		  style+="<div class=\"msg_system_main_right_info\">";
		  style+="<div title=\""+curUserName+"\" class=\"left\">";
		  if(curUserName != null && curUserName != undefined && curUserName != "null"){
		  	style += curUserName;
		  }
		  style+="</div>";
		  if(createTime == undefined || createTime == null){
			  createTime = "";
		  }
		 style+=" <div class=\"msg_date right\">"+createTime+"</div>";
		 style+=" </div></div><div class=\"clear\"></div></div>";
		
		 if(i<subjectNameArr.length-1&&subjectNameArr.length>2)
		 style+="<div class=\"msg_line\"></div>";
		 else
		  style+="<div></div>";
	       				  style+=" </div>";	
	       					}
	       						 
		    style+="</div>";
		    style+="</div>";
	  style+="<div class=\"msg_setting\">";
	  style+="<div class=\"msg_setting_font msg_setting_ignore\" onclick=\"allReaded();\">忽略全部</div>";
	  style+="<div class=\"msg_setting_font msg_setting_look\" onclick=\"updateIsRemind();\">查看全部</div></div>";
		   style+="</div></div>";
		  document.getElementById("bottom_msg").innerHTML=style;
	       				
	       					document.getElementById("bottom_msg").style.display="block";
	       				if(unReadMsgNum==0){
	       				document.getElementById('msgremind').style.display="none";
	       				}
	       			//	}else{result
	       			//		document.getElementById("bottom_msg").style.display="none";
	       			//		document.getElementById('msgremind').style.display="none";
	       			//	}
	       			 }else{
	       				 document.getElementById('msgremind').style.display="none";
	       			}
				},
				function(){
				  	
				}
			);
		}
		function refreshInvalid(){
		var url = webpath+'foundation/message_queryUnreadMessage.action';
			Matrix.sendRequest(url,null,
				function(data){
				  	var result = data.data;
				  	var unReadMsgNum = 0;
				  	if(result && result.length>0){
		       			var json =isc.JSON.decode(result).result;
		       			var arr = json.split(',');
	       				unReadMsgNum = parseInt(arr[0]);
	       			
	       				var subjectNameArr = [];
	       				var messageIdArr = [];
	       				var urlValueArr=[];
	       				var userNameArr = [];
	       				var createDateArr = [];
	       				var flag = 0;
	       				for(var i=1;i<arr.length;i++){
	       					subjectNameArr.push(arr[i].split(';')[0]);
	       					messageIdArr.push(arr[i].split(';')[1]);
	       					urlValueArr.push(arr[i].split(";")[2]);
	       					userNameArr.push(arr[i].split(";")[3]);
	       					createDateArr.push(arr[i].split(";")[4]);
	       					
	       					//新消息弹出消息框     flag判断是否弹出，弹出后不需要再次弹出
	       					if(flag == 0){//消息框还没有弹出
		       					var thatDate = arr[i].split(";")[4];
	       						if(!thatDate){
	       							return;
	       						}
		       					var dateLength = thatDate.split('-').length;
		    					var thisDate = new Date();
		    					var thisTimeSeconds = thisDate.getSeconds();
		    					var thisTime = Date.parse(thisDate);//获取当前时间戳
		    					thisTime = thisTime - thisTimeSeconds*1000;//去掉秒的影响
		       					if(dateLength == 2){//是当前年份
		       						var thisYear = thisDate.getFullYear();
		       						var thatFullDate = thisYear+"-"+thatDate;
		       						var thattimestamp = Date.parse(new Date(thatFullDate));//消息时间戳
		       						if(thisTime - thattimestamp < 65000){
		       							//弹出
		       							refreshInfo();
		       							flag = 1;//不再弹出
		       						}
		       					}else if(dateLength == 3){//非当前年份
		       						var thattimestamp = Date.parse(new Date(thatDate));//消息时间戳
		       						if(thisTime - thattimestamp < 65000){
		       							//弹出
		       							refreshInfo();
		       							flag = 1;//不再弹出
		       						}
		       					}
	       					}
	       				}
	       				if(unReadMsgNum>0){
	       					document.getElementById('msgremind').style.display="block";
	       				}else{
	       					document.getElementById("bottom_msg").style.display="none";
	       					document.getElementById('msgremind').style.display="none";
	       				}
	       				//document.getElementById("messageNum").style.height=(120+unReadMsgNum*15)+"px";
	       			 }else{document.getElementById("bottom_msg").style.display="none";
						document.getElementById('msgremind').style.display="none";
					}
				},
				function(){
				  	
				}
			);
		}
		//获取流程申请信息通知
		function refreshAcceptMsgInfo(){
		 	var url = webpath+'foundation/message_queryMessage.action';
			Matrix.sendRequest(url,null,
				function(data){
				  	var result = data.data;
				  	if(result && result.length>0){
		       			var json =isc.JSON.decode(result).result;
		       			var arr = json.split(',');
	       				var unReadMsgNum = parseInt(arr[0]);
	       				var subjectNameArr = [];
	       				var messageIdArr = [];
	       				var urlValueArr=[];
	       				var userNameArr = [];
	       				for(var i=1;i<arr.length;i++){
	       					subjectNameArr.push(arr[i].split(';')[0]);
	       					messageIdArr.push(arr[i].split(';')[1]);
	       					urlValueArr.push(arr[i].split(";")[2]);
	       					userNameArr.push(arr[i].split(";")[3]);
	       				}
	       				//document.getElementById("messageNum").style.height=(120+unReadMsgNum*15)+"px";
	       				
	       				if(unReadMsgNum>0){
	       					var s = "您有新未读消息:";
	       					//head
	       					var style="<div style=height:30px;width:300px;;><span style=float:left;padding-left:5px;line-height:30px;>消息提醒</span><a id='a' style=width:32px;float:right;padding-right:0px;line-height:30px;text-decoration:none; href='javascript:selectClose();' title='关闭'>X</a></div>";
	       					//body
	       					style+="<div id='body' style=width:100%;;>";
	       					style+="<img src="+webpath+"'resource/images/matrix/chat.png' style=width:25px;height:25px;line-height:50px;padding-right:30px;padding-top:5px;/><span style=float:right;color:red;padding-right:20px;line-height:30px;>"+unReadMsgNum+"</span><span style=float:right;padding-right:100px;;line-height:30px;font-family: 黑体;>"+s+"</span><br>";
	       					for(var i=0;i<subjectNameArr.length;i++){
	       						var name = subjectNameArr[i];
	       						if(name.length>30){
	       							name=name.substring(0,30)+"……";
	       						}
	       						var curUserName = userNameArr[i];
	       						if(urlValueArr[i]==''||urlValueArr[i]==null||urlValueArr[i]=='null'){
	       							style+="<div style='padding-left:60px;text-align:left;width:100%;'><label style='text-decoration:none;width:100%;' title="+name+">"
	       						}else{
	       							style+="<div style='padding-left:60px;text-align:left;width:100%;'><a style='text-decoration:none;width:100%;' title="+name+" href=javascript:readClickContent('"+messageIdArr[i]+"','"+urlValueArr[i]+"');>";
	       						}
	       						if(curUserName!=null&&curUserName!=''&&curUserName!='null'){
	       							style += name+"("+curUserName+")</label></div>";
	       						}else{
	       							style += name+"</label></div>";
	       						}
	       					}
	       					style+="</div><hr style='width:300px;background-color:#ffffff;margin-bottom:0px;margin-top:0px;color:gray;'>";
	       					//foot
	       					style+="<div style=height:28px;width:300px;background-color:#ffffff;line-height:30px;text-align:left;vertical-align:middle;><input type=checkbox id=checkbox name=checkbox style='float:left;line-height:30px;vertical-align:middle;margin-top:9px;margin-bottom:9px;'><label  for=checkbox>不再提醒</label></input><a style=float:right;line-height:30px;text-decoration:none;padding-right:5px; href='javascript:updateIsRemind();' style=text-decoration:none;>查看更多……</a></div>";
	       					document.getElementById("messageNum").innerHTML=style;
	       					document.getElementById("body").style.height=(60+unReadMsgNum*15)+"px";
	       					document.getElementById("messageNum").style.display="block";
	       					 document.getElementById('messageNum').style.opacity=1;
	       					 //有未读未提醒消息时，执行淡出方法
	       					 setUndisPlay = setTimeout('fadeOut()',10000);
	       					 val=100;//执行完一次fadeOut后，还原val值
	       				}else{
	       					document.getElementById("messageNum").style.display="none";
	       					
	       				}
	       			 }
	       			 
	       			 /*********去掉注释，启动定时***************/
				    //setTime = setInterval("refreshAcceptMsgInfo()",20000);
				    /*********去掉注释，  提示框直接消失**********/
				    //document.getElementById('messageNum')='none';
				},
				function(){
				  	//刷新失败
				}
			);
		}
		

		
	    function fadeOut(){
	 	
			/*
			 * 参数说明
		 	 * elem==>需要淡入的元素
		 	 * speed==>淡入速度,正整数(可选)
		 	 * opacity==>淡入到指定的透明度,0~100(可选)
			 */
	    	var speed =  200;//0.2秒调用一次本方法
	    	//提示框对象
	    	var div = document.getElementById('bottom_msg');
			div.filters ? div.style.filter = 'alpha(opacity=' + val + ')' : div.style.opacity = val / 100;
			val -= 4;//val控制透明度
	   		if (val > 0) {
				//定时调用fadeOut方法
	        	setTimeout(arguments.callee, speed);
	    	}else if (val <= 0) {
				//元素透明度为0后隐藏元素
	        	div.style.display = 'none';
	    	} 
	    	
	 	}
	setInterval('refreshInvalid()',60000);
	
</script>
</html>