@CHARSET "UTF-8";
.imgHeaderButton, .headerButton, .sorterButton {
    background-color: #F5F5F5;
    /* color: gray; */
    color: black;
    font-weight: bold;
    font-size: 12px;
    /* border-bottom: 1px solid #bfbfbf; */
    border-left: 1px solid #ddd;
    border-right: none;
    border-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* height: 40px; */
    border-top: 1px solid #ddd;
}
.cellDark,.cellOverDark,.cellSelectedDark{background:#FFFFFF}
