<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>bpmconsole</display-name>
    <welcome-file-list>
        <welcome-file>/form/admin/catalog/catalog.jsp</welcome-file>
        <welcome-file>model.vm</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:beans.xml</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>properties/myMessages</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.matrix.extention.SessionContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>
            com.matrix.form.scanner.MatrixBOListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>com.matrix.form.admin.httpsessionlistener.SessionListener</listener-class>
    </listener>
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>
            com.matrix.form.admin.common.webfilter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>userLogonFilter</filter-name>
        <filter-class>
            com.matrix.form.admin.logon.filter.UserLogonFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userLogonFilter</filter-name>
        <url-pattern>*.form</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>userLogonFilter</filter-name>
        <url-pattern>*.dform</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>userLogonFilter</filter-name>
        <url-pattern>*.rform</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>userLogonFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>userLogonFilter</filter-name>
        <url-pattern>*.daction</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>userLogonFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>userLogonFilter</filter-name>
        <url-pattern>/CustomerVelocityServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>userLogonFilter</filter-name>
        <url-pattern>*.cab</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>userLogonFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>hibernateFilter</filter-name>
        <filter-class>
            org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>hibernateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>extensionsFilter</filter-name>
        <filter-class>
            com.matrix.form.filter.ExtensionsFilter
        </filter-class>
        <init-param>
            <description>
                Set the size limit for uploaded files. Format: 10 - 10
                bytes 10k - 10 KB 10m - 10 MB 1g - 1 GB
            </description>
            <param-name>uploadMaxFileSize</param-name>
            <param-value>1024m</param-value>
        </init-param>
        <init-param>
            <description>
                Set the threshold size - files below this limit are
                stored in memory, files above this limit are stored on
                disk.
                Format: 10 - 10 bytes 10k - 10 KB 10m - 10 MB 1g - 1 GB
            </description>
            <param-name>uploadThresholdSize</param-name>
            <param-value>100k</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <url-pattern>*.rform</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <url-pattern>*.mform</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DesignTimeFormServlet</servlet-name>
        <servlet-class>com.matrix.servlet.FormDesignTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.common.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesignTimeFormServlet</servlet-name>
        <url-pattern>*.dform</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RunTimeFormServlet</servlet-name>
        <servlet-class>com.matrix.servlet.FormRunTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Html5RunTimeFormServlet</servlet-name>
        <servlet-class>com.matrix.servlet.Html5FormRunTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceLoaderServlet</servlet-name>
        <servlet-class>
            com.matrix.presentation.core.ui.resource.servlet.ResourceLoaderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RunTimeFormServlet</servlet-name>
        <url-pattern>*.rform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Html5RunTimeFormServlet</servlet-name>
        <url-pattern>*.mform</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FormDesignerServlet</servlet-name>
        <servlet-class>com.matrix.form.designer.servlet.FormDesignerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormDesignerServlet</servlet-name>
        <url-pattern>*.daction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>startUpServlet</servlet-name>
        <servlet-class>com.matrix.client.StartUpServlet</servlet-class>
        <init-param>
            <param-name>isEventEnable</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>isCleanUpEnable</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>isLocalTX</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>isOutVersion</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FormStartUpServlet</servlet-name>
        <servlet-class>com.matrix.servlet.FormStartUpServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>ResourceLoaderServlet</servlet-name>
        <url-pattern>/matrix/resource/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DesignerHelper</servlet-name>
        <servlet-class>com.matrix.client.designerhelper.DesignerHelperServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DesignerHelper</servlet-name>
        <url-pattern>/DesignerHelper</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>ProcessMonitorHelper</display-name>
        <servlet-name>ProcessMonitorHelper</servlet-name>
        <servlet-class>com.matrix.web.processmonitor.ProcessMonitorHelper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessMonitorHelper</servlet-name>
        <url-pattern>/processMonitorHelper</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImportExternalFileServlet</servlet-name>
        <servlet-class>com.matrix.form.admin.foundation.action.ImportExternalFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportExternalFileServlet</servlet-name>
        <url-pattern>/file/importfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExportFileServlet</servlet-name>
        <servlet-class>com.matrix.form.admin.foundation.action.ExportFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportFileServlet</servlet-name>
        <url-pattern>/file/exportfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>FormOfflineServlet</display-name>
        <servlet-name>FormOfflineServlet</servlet-name>
        <servlet-class>com.matrix.servlet.FormOfflineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormOfflineServlet</servlet-name>
        <url-pattern>/FormOfflineServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uploadFileHelperServlet</servlet-name>
        <servlet-class>
            com.matrix.form.servlet.UploadFileHelperServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadFileHelperServlet</servlet-name>
        <url-pattern>/uploadFileHelperServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ModelConvertDocumentHelper</display-name>
        <servlet-name>ModelConvertDocumentHelper</servlet-name>
        <servlet-class>com.matrix.form.admin.common.utils.ModelConvertDocumentHelper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelConvertDocumentHelper</servlet-name>
        <url-pattern>/ModelConvertDocumentHelper</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>OperatorModuleHelper</display-name>
        <servlet-name>OperatorModuleHelper</servlet-name>
        <servlet-class>com.matrix.form.admin.common.utils.OperatorModuleHelper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OperatorModuleHelper</servlet-name>
        <url-pattern>/OperatorModuleHelper</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Html5OperatorModuleHelper</display-name>
        <servlet-name>Html5OperatorModuleHelper</servlet-name>
        <servlet-class>com.matrix.form.admin.common.utils.Html5OperatorModuleHelper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Html5OperatorModuleHelper</servlet-name>
        <url-pattern>/Html5OperatorModuleHelper</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>OperatorContentsHelper</display-name>
        <servlet-name>OperatorContentsHelper</servlet-name>
        <servlet-class>com.matrix.form.admin.common.utils.OperatorContentsHelper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OperatorContentsHelper</servlet-name>
        <url-pattern>/OperatorContentsHelper</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Html5OperatorContentsHelper</display-name>
        <servlet-name>Html5OperatorContentsHelper</servlet-name>
        <servlet-class>com.matrix.form.admin.common.utils.Html5OperatorContentsHelper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Html5OperatorContentsHelper</servlet-name>
        <url-pattern>/Html5OperatorContentsHelper</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>OfficeServer</display-name>
        <servlet-name>OfficeServer</servlet-name>
        <servlet-class>Servlet.OfficeServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OfficeServer</servlet-name>
        <url-pattern>/OfficeServer</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>QueryDataFromDB</display-name>
        <servlet-name>QueryDataFromDB</servlet-name>
        <servlet-class>Servlet.QueryDataFromDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryDataFromDB</servlet-name>
        <url-pattern>/QueryDataFromDB</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>SaveDocument</display-name>
        <servlet-name>SaveDocument</servlet-name>
        <servlet-class>Servlet.SaveDocument</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>com.matrix.office.servlet.FileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveDocument</servlet-name>
        <url-pattern>/SaveDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/FileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConnectorServlet</servlet-name>
        <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
        <init-param>
            <param-name>XMLConfig</param-name>
            <param-value>/WEB-INF/config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectorServlet</servlet-name>
        <url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>FileUploadFilter</filter-name>
        <filter-class>com.ckfinder.connector.FileUploadFilter</filter-class>
        <init-param>
            <param-name>sessionCookieName</param-name>
            <param-value>JSESSIONID</param-value>
        </init-param>
        <init-param>
            <param-name>sessionParameterName</param-name>
            <param-value>jsessionid</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FileUploadFilter</filter-name>
        <url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
    </filter-mapping>
    <servlet>
        <description></description>
        <display-name>CustomerVelocityServlet</display-name>
        <servlet-name>CustomerVelocityServlet</servlet-name>
        <servlet-class>com.matrix.office.servlet.CustomerVelocityServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerVelocityServlet</servlet-name>
        <url-pattern>/CustomerVelocityServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>NewsVelocityServlet</display-name>
        <servlet-name>NewsVelocityServlet</servlet-name>
        <servlet-class>com.matrix.office.servlet.NewsVelocityServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsVelocityServlet</servlet-name>
        <url-pattern>/NewsVelocityServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ArchiveWordServlet</display-name>
        <servlet-name>ArchiveWordServlet</servlet-name>
        <servlet-class>com.matrix.office.archive.servlet.ArchiveWordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArchiveWordServlet</servlet-name>
        <url-pattern>/ArchiveWordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>DownLoadArcServlet</display-name>
        <servlet-name>DownLoadArcServlet</servlet-name>
        <servlet-class>com.matrix.office.archive.servlet.DownLoadArcServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownLoadArcServlet</servlet-name>
        <url-pattern>/DownLoadArcServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>DownLoadArchiveFileServlet</display-name>
        <servlet-name>DownLoadArchiveFileServlet</servlet-name>
        <servlet-class>com.matrix.office.archive.servlet.DownLoadArchiveFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownLoadArchiveFileServlet</servlet-name>
        <url-pattern>/DownLoadArchiveFileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ShowArcFileServlet</display-name>
        <servlet-name>ShowArcFileServlet</servlet-name>
        <servlet-class>com.matrix.office.archive.servlet.ShowArcFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowArcFileServlet</servlet-name>
        <url-pattern>/ShowArcFileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>FileArchiveServlet</display-name>
        <servlet-name>FileArchiveServlet</servlet-name>
        <servlet-class>com.matrix.office.archive.servlet.FileArchiveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileArchiveServlet</servlet-name>
        <url-pattern>/FileArchiveServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ImageNewsServlet</display-name>
        <servlet-name>ImageNewsServlet</servlet-name>
        <servlet-class>com.matrix.office.news.servlet.ImageNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageNewsServlet</servlet-name>
        <url-pattern>/ImageNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ImageNewsNameServlet</display-name>
        <servlet-name>ImageNewsNameServlet</servlet-name>
        <servlet-class>com.matrix.office.news.servlet.ImageNewsNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageNewsNameServlet</servlet-name>
        <url-pattern>/ImageNewsNameServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>DownLoadFileServlet</display-name>
        <servlet-name>DownLoadFileServlet</servlet-name>
        <servlet-class>com.matrix.office.servlet.DownLoadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownLoadFileServlet</servlet-name>
        <url-pattern>/DownLoadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ContentAndFileServlet</display-name>
        <servlet-name>ContentAndFileServlet</servlet-name>
        <servlet-class>com.matrix.office.servlet.ContentAndFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContentAndFileServlet</servlet-name>
        <url-pattern>/ContentAndFileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ShowArchiveContentServlet</display-name>
        <servlet-name>ShowArchiveContentServlet</servlet-name>
        <servlet-class>com.matrix.office.archive.servlet.ShowArchiveContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowArchiveContentServlet</servlet-name>
        <url-pattern>/ShowArchiveContentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ImportProcessFileServlet</display-name>
        <servlet-name>ImportProcessFileServlet</servlet-name>
        <servlet-class>com.matrix.form.admin.process.servlet.ImportProcessFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportProcessFileServlet</servlet-name>
        <url-pattern>/ImportProcessFileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CollectNewsServlet</display-name>
        <servlet-name>CollectNewsServlet</servlet-name>
        <servlet-class>com.matrix.office.news.servlet.CollectNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CollectNewsServlet</servlet-name>
        <url-pattern>/CollectNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ExpressionServlet</display-name>
        <servlet-name>ExpressionServlet</servlet-name>
        <servlet-class>com.matrix.servlet.ExpressionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExpressionServlet</servlet-name>
        <url-pattern>/ExpressionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ReadExcelServlet</display-name>
        <servlet-name>ReadExcelServlet</servlet-name>
        <servlet-class>com.matrix.office.attendance.servlet.ReadExcelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadExcelServlet</servlet-name>
        <url-pattern>/ReadExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>QueryShowArchiFileServlet</display-name>
        <servlet-name>QueryShowArchiFileServlet</servlet-name>
        <servlet-class>com.matrix.office.archive.servlet.QueryShowArchiFileServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>TextFlowServlet</servlet-name>
        <servlet-class>com.matrix.office.servlet.TextFlowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryShowArchiFileServlet</servlet-name>
        <url-pattern>/QueryShowArchiFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextFlowServlet</servlet-name>
        <url-pattern>/TextFlowServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FlowDesignerServlet</servlet-name>
        <servlet-class>com.matrix.flow.servlet.FlowDesignerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlowDesignerServlet</servlet-name>
        <url-pattern>/FlowDesignerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FlowDesignerActionServlet</servlet-name>
        <servlet-class>com.matrix.flow.servlet.FlowDesignerActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlowDesignerActionServlet</servlet-name>
        <url-pattern>*.dflow</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>CarOccupyServlet</servlet-name>
        <servlet-class>com.matrix.office.car.caroccupy.CarOccupyServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>MeetRoomServlet</servlet-name>
        <servlet-class>com.matrix.office.meet.servlet.MeetRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>MeetingServlet</servlet-name>
        <servlet-class>com.matrix.office.meet.servlet.MeetingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarOccupyServlet</servlet-name>
        <url-pattern>/CarOccupyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeetRoomServlet</servlet-name>
        <url-pattern>/MeetRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeetingServlet</servlet-name>
        <url-pattern>/MeetingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DiscussReplyServlet</servlet-name>
        <servlet-class>com.matrix.office.servlet.DiscussReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFileServlet</servlet-name>
        <servlet-class>com.matrix.office.servlet.DeleteFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelFileServlet</servlet-name>
        <servlet-class>com.matrix.office.servlet.CancelFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiscussReplyServlet</servlet-name>
        <url-pattern>/DiscussReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFileServlet</servlet-name>
        <url-pattern>/deleteFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelFileServlet</servlet-name>
        <url-pattern>/cancelFileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>BizDataListServlet</display-name>
        <servlet-name>BizDataListServlet</servlet-name>
        <servlet-class>com.matrix.servlet.BizDataListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BizDataListServlet</servlet-name>
        <url-pattern>/BizDataListServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ApplicationSetServlet</display-name>
        <servlet-name>ApplicationSetServlet</servlet-name>
        <servlet-class>com.matrix.servlet.ApplicationSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationSetServlet</servlet-name>
        <url-pattern>/ApplicationSetServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>QueryListSetttingServlet</display-name>
        <servlet-name>QueryListSetttingServlet</servlet-name>
        <servlet-class>com.matrix.form.admin.querylist.QueryListSetttingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryListSetttingServlet</servlet-name>
        <url-pattern>/QueryListSetttingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>
        </description>
        <display-name>
            TemplateVBA</display-name>
        <servlet-name>TemplateVBA</servlet-name>
        <servlet-class>
            Servlet.TemplateVBA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TemplateVBA</servlet-name>
        <url-pattern>/TemplateVBA</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>MonitorViewerControlServlet</display-name>
        <servlet-name>MonitorViewerControlServlet</servlet-name>
        <servlet-class>com.matrix.office.MonitorViewerControlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitorViewerControlServlet</servlet-name>
        <url-pattern>/MonitorViewerControlServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>docServlet</display-name>
        <servlet-name>docServlet</servlet-name>
        <servlet-class>com.matrix.office.document.servlet.DocServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>docServlet</servlet-name>
        <url-pattern>/docServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>KGBSservlet</display-name>
        <servlet-name>KGBSservlet</servlet-name>
        <servlet-class>com.cait.oa.servlet.KGBSservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KGBSservlet</servlet-name>
        <url-pattern>/KGBSservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PreviewServlet</display-name>
        <servlet-name>PreviewServlet</servlet-name>
        <servlet-class>com.matrix.office.servlet.PreviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreviewServlet</servlet-name>
        <url-pattern>/PreviewServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>refreshEntity</display-name>
        <servlet-name>refreshEntity</servlet-name>
        <servlet-class>com.matrix.servlet.BPMRefreshEntityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>refreshEntity</servlet-name>
        <url-pattern>/refreshEntity</url-pattern>
    </servlet-mapping>


    <!-- bootstrap fileInput 文件上传servlet-->
    <servlet>
        <description></description>
        <display-name>FileInputServlet</display-name>
        <servlet-name>FileInputServlet</servlet-name>
        <servlet-class>com.matrix.fileinput.servlet.FileInputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileInputServlet</servlet-name>
        <url-pattern>/FileInputServlet</url-pattern>
    </servlet-mapping>

    <!-- 导入导出协同事项 servlet-->
    <servlet>
        <description></description>
        <display-name>ImpAndExpTempServlet</display-name>
        <servlet-name>ImpAndExpTempServlet</servlet-name>
        <servlet-class>com.matrix.form.admin.common.utils.ImpAndExpTempServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImpAndExpTempServlet</servlet-name>
        <url-pattern>/ImpAndExpTempServlet</url-pattern>
    </servlet-mapping>

    <!-- cxf服务启动servlet -->
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/flowService/*</url-pattern>
    </servlet-mapping>



</web-app>